name : Posteman Collection Workflow

on:
   push:
     branches: [main]
    workflow_dispatch:
    sechdule:
    -cron : 30 02 * * * # 8 am IST Every day
    -cron : 00 14 * * * # 730 pm IST Every day
    -cron : 00 06 * * 1-5 # 1130 pm IST Every day

jobs:
  run-postman-tests:
    runs-on: ubuntu-latest

    steps:
    
      - name: checkout the code
        uses: actions/checkout@v4.2.2

        -name: Install Node.js and npm
         uses: actions/setup-node@v3.9.1
         with:
           node-version: '22'

        -name: Install Newman and Html-extra globally
         run:
            npm install -g newman
            npm install -g newman-reporter-htmlextra

        -name: Run the postman Collection with newman
         run: 
            newman run 'Inwarranty-flow Collection.postman_collection.json' \ 
            -e QA.postman_environment.json \
            -d testdata.csv \
            -r cli,htmlextra
            
           
        
